* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #e5f8fb 20%, #ffffff 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  font-weight: bold;
  padding: 0;
  font-size: 1rem;
  color: #282772;
  cursor: pointer;
  text-decoration: none;
}
.logo-icon {
  padding-left: 1rem;
}
.logo p {
  font-size: 0.8rem;
}
@media screen and (max-width: 520px) {
  .logo {
    font-size: 0.8rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 3rem 9rem 0rem 9rem;
}
@media screen and (max-width: 1150px) {
  header {
    margin: 2rem 6rem 0rem 6rem;
  }
}
@media screen and (max-width: 1050px) {
  header {
    margin: 2rem 3rem 0rem 3rem;
  }
}
@media screen and (max-width: 950px) {
  header {
    margin: 2rem 2rem 0rem 2rem;
  }
}
header nav {
  padding-right: 1rem;
}
@media screen and (max-width: 950px) {
  header nav {
    display: none;
  }
}
header nav a {
  margin: 2rem;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: #282772;
  cursor: pointer;
}
header nav a:hover {
  color: #b6b6b6;
  transition: 0.3s;
}
@media screen and (max-width: 890px) {
  header nav a {
    margin: 1rem;
    font-size: 0.7rem;
  }
}

.button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 12px 28px;
  cursor: pointer;
  background: #3dc56a;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 25px;
  color: white;
  font-size: 16px;
}
@media screen and (max-width: 350px) {
  .button {
    margin-bottom: 1rem;
  }
}
.button .button-icon {
  height: 20px;
  padding-right: 1rem;
}

.download-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 490px) {
  .download-buttons {
    flex-direction: column;
    font-size: 1rem;
    line-height: 1rem;
  }
}
.download-buttons .download-button {
  margin: 0 1rem 0 1rem;
}
@media screen and (max-width: 490px) {
  .download-buttons .download-button {
    margin-bottom: 1rem;
  }
}
.download-buttons .button--primary {
  background: #282772;
  padding: 12px 30px;
}

.promo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 4rem 30% 9rem 30%;
  flex-direction: column;
}
@media screen and (max-width: 890px) {
  .promo {
    margin: 3rem 20% 7rem 20%;
  }
}
@media screen and (max-width: 550px) {
  .promo {
    margin: 2rem 10% 5rem 10%;
  }
}
.promo .title {
  padding-bottom: 3rem;
  text-align: center;
  font-weight: bold;
}
.promo .title__header {
  font-size: 3rem;
  color: #282772;
  line-height: 3rem;
}
@media screen and (max-width: 440px) {
  .promo .title__header {
    font-size: 2rem;
    line-height: 2rem;
  }
}
.promo .title__text {
  font-size: 0.9rem;
  color: #282772;
}
@media screen and (max-width: 350px) {
  .promo .title__text {
    font-size: 0.8rem;
  }
}

.background-image {
  top: 2px;
}

/*# sourceMappingURL=style.css.map */
